{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain "cjw_processed_parameters_view" %}

{% block content %}

    <div class="cjw_config_processing_content">
        <div class="cjw_header">
            <span>This is gonna be some kind of banner?</span>
            <span>There might be some buttons or options here</span>
        </div>

        <div class="cjw_main_body">
            <div class="cjw_side_bar">
                <p>There might be a side-bar here</p>
            </div>

            <div class="cjw_main_section">
                <span>{{ dump() }}</span>
            </div>
        </div>

        <div class="cjw_footer">
            <span>This could be the beginning of a wonderful footer</span>
        </div>
    </div>

    <span>This is a rudimentary test</span>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset("/mnt/data/htdocs/bicycleLearning/ezplatform/src/CJW/ConfigProcessorBundle/Resources/public/css/bundleCss.css") }}>
{% endblock %}

{% block javascripts %}

{% endblock %}
